/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.background {
    padding: 10px; color: rgb(255, 199, 180);
    border: 15px coral;
    margin: 25px;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    height: 400 px;
    width: auto;
}

li a {
    color:rgb(48, 47, 47);
    text-decoration: none;
}

li a:hover,
li a:focus {
    text-decoration:underline
}

div, ul, p {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: rgb(46, 45, 45);
}

h1 {
    font-size: 3rem;
    padding: 0.2em;
}

h3 {
    font-size: 2.5rem;
    padding: 0.2em;
}

li {
    background-color: rgb(220, 231, 231);
    padding: 5px 10px;
    width: 40ch;
    font-size: 18px;
    font-weight: 200;
    border-left: 4px solid;
    text-decoration: none;
}

.teaser {
    font-size: 20px;
    color: rgb(73, 131, 207);
}